/* Home.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #831885;
  color: white;
  height: 6rem;
  width: 100%; 
  margin: 0; /* Remove default margin */
  position: fixed; /* Fixed position to keep the header at the top */
  top: 0; /* Position at the top of the viewport */
  left: 0; /* Align to the left edge of the viewport */
  right: 0; /* Align to the right edge of the viewport */
  display: flex;
}
.home-content{
  
  align-items: center;
 
}
.logo {
  width: 100px; 
  margin-left: 0;
  height: 4.5rem;
  border-radius: 20%;
}

.logout-icon {
  width: 30px; /* Adjust width as needed */
  cursor: pointer;
  margin-right: 3rem;
}

.sidebar {
  flex: 0 0 200px;
  background-color: #f4f4f4;
  padding: 20px;
  margin-top: -8px;
  position: fixed; /* Fixed position to keep the sidebar in place */
  top: 125px; /* Position below the header */
  left: 0; /* Align to the left side of the page */
  height: 100%;
}

.sidebar-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.sidebar-icon {
  width: 20px;
  margin-right: 10px;
}

.mainlogo {
  margin-left: 20rem;
  width: 12rem;
}

.logout-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.logout-popup p {
  margin-bottom: 20px;
}

.logout-popup button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #831885;
  color: #fff;
  border: none;
  cursor: pointer;
}

.logout-popup button:last-child {
  margin-right: 0;
}

.temptable {
  width: 100vw;
}
